<a href="https://colab.research.google.com/github/LaraMatveeva/Pytseminar/blob/main/Itog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача
### В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [1]:
import pandas as pd

In [2]:
import random

In [52]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame ({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  human

In [53]:
data_new = data.copy()

In [54]:
data_new['whoAmI'] = [1 if x == 'human' else 0 for x in data_new['whoAmI']]
data_new

    whoAmI
0        0
1        0
2        1
3        1
4        1
5        1
6        1
7        0
8        1
9        0
10       1
11       0
12       0
13       1
14       1
15       0
16       0
17       0
18       1
19       0